/*.container {
    border: 1px solid red;
}

.container > div > div {
    border: 1px dotted black;
    
}
*/
.modal-dialog {
    background-color: white;
}

.img-circle {
    padding: 15px;
}

section.help h2 {
    padding-bottom: 10px;
}

footer {
    background-color: #252525;
    color: darkgrey;
}
footer a {
    color: darkgrey;
}
footer a:hover {
    color: lightgrey;
    text-decoration: none;
}








