.container {
    border: 1px solid red;
}

.container > div > div {
    border: 1px dotted black;
    
}

.modal-dialog {
    background-color: white;
}

footer div.col-lg-4:nth-child(3){
    margin-top: 10px;
}