/*.container {
    border: 1px solid red;
}

.container > div > div {
    border: 1px dotted black;
    
}
*/

/*----------------Some Fixes-------------*/

.modal-dialog {
    background-color: white;
}

.img-circle {
    padding: 15px;
}

section.help h2 {
    padding-bottom: 10px;
}

/*--------------Footer-------------------*/

footer {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
}
footer a {
    color: white;
}
footer a:hover {
    color: darkgrey;
    text-decoration: none;
}

/*------------body----------------*/

header {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    
}

.none {
    display: none !important;
}






